body{
  font-family: Arial;
  margin:0;
  background: linear-gradient(to right,#e6f0ff,#ffffff);
  text-align:center;
}

.center-box{
  margin-top:80px;
}

input{
  display:block;
  margin:10px auto;
  padding:10px;
  width:250px;
  border-radius:8px;
  border:1px solid #ccc;
}

button{
  padding:10px 20px;
  margin:5px;
  border:none;
  border-radius:8px;
  background:#0073e6;
  color:white;
  font-weight:bold;
  cursor:pointer;
}

button:hover{
  background:#004d99;
}

.plan{
  background:#cce0ff;
  margin:15px;
  padding:15px;
  border-radius:10px;
}

.section{
  padding-bottom:80px;
}

#footer{
  position:fixed;
  bottom:0;
  width:100%;
  background:#003366;
  padding:10px;
}

#footer button{
  background:#00aaff;
  margin:0 10px;
}